<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Company Name : {{CompanyData.companyname}}</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{CompanyData.firstname}} {{CompanyData.lastname}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="logOut()">
                        <i class="fa fa-fw fa-power-off"></i> Log Out
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>Dashboard</span>
        </a>
		<a  [routerLinkActive]="['router-link-active']" (click)="logOut()" class="list-group-item">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;
            <span>Logout</span>
        </a>
    </div>
	 <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    </div>
</nav>
<section class="main-container" >
    <div class="row">
        <div class="col-lg-12">
				<div class="card card-default">
					<div class="card-header">
						<i class="fa fa-clock-o fa-fw"></i> Company details
					</div>
					<div class="card-body">
						<ul class="timeline">
							<li>
									<div class="timeline-heading">
										<h4 class="timeline-title">Name : {{CompanyData.firstname}} {{CompanyData.lastname}}</h4>
									</div>
									<div class="timeline-heading">
										<h4 class="timeline-title">Company Name : {{CompanyData.companyname}}</h4>
									</div>
									<div class="timeline-heading">
										<h4 class="timeline-title">Email : {{CompanyData.email}}</h4>
									</div>
									<div class="timeline-heading">
										<h4 class="timeline-title">License Start Date : {{CompanyData.license_startdate}}</h4>
									</div>
									<div class="timeline-heading">
										<h4 class="timeline-title">License End Date : {{CompanyData.license_enddate}}</h4>
						
								</div>
							</li>
						</ul>
					</div>
				</div>
        </div>
</div>
</section>
